<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
     {{#if price}}
        <h2>Price: {{price}}</h2>
    {{else}}
        <h2>Price upon request</h2>
    {{/if}}
    
    <ul>
        {{#each ingredients}}
            <li>{{this.ingredientName}}</li>
        {{/each}}
    </ul>


    <img src="/images/{{imageFile}}" alt="">


    {{> ctaOrderNow title=title}}


   
</body>

</html>